*{
  box-sizing:border-box;
  padding:0;
  margin:0;
  max-width:100%;
}

body{
  font-family: 'Rubik', sans-serif;
  background: #3E4045;
}

.navigation{
  /* border: 1px solid red; */
  height: 100px;
  background-color: #2C2D31;
  display: flex;
  justify-content: space-between;
  border-bottom: 10px solid #41A95E;
}

.header-logo{
  /* border: 1px solid red; */
  width: 20%;
  padding-left: 2%;
  display: flex;
  align-items: center;
}

h4{
  font-size: 1.8rem;
  color: #F1F1F1F1;
}

.links{
  display: flex;
  width: 30%;
  justify-content: space-around;
  align-items: center;
}

.nav-links{
  color: #f1f1f1;
  text-decoration: none;
  text-align: center;
  padding: 2% 3%;
  width: 20%;
  font-size: 1.2rem;
}

.nav-links:hover {
  background-color: #3E4045;
  border-radius: 4px;
  color: #41A95E;
}

.container-wrapper {
  /* border: 1px solid red; */
  width: 80%;
  margin: 5% auto;
  height: 70vh;
  display: flex;
  
}

.image-container {
  border-radius: 2% 0 0 2%;
  width: 50%;
  background-image: url("https://images.unsplash.com/photo-1508014072511-d698c0823383?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.signUp-header {
  text-align: center;
  padding: 5%;
  font-size: 2.4rem;
  color: #41A95E
}

.form-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #41A95E;
  border-right: 2px solid #41A95E;
  border-bottom: 2px solid #41A95E;
  border-radius: 0 2% 2% 0;
}

.form {
  /* border: 1px solid red; */
  width: 90%;
  margin: 0 auto;
  /* height: 50vh; */
}

.form-label {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* padding: 4% 0; */
  color: white;
  height: 15vh;
}

.input-field {
  /* padding: 2% 0; */
  height: 5vh;
  border-radius: 5p;
}

.button {
  width: 100%;
  height: 48px;
border: none;
background-color: #41A95E;
font-size: 1.2rem;
color: white;
display: flex;
justify-content: center;
align-items: center;
border-radius: 5px;
}




